<% include header %>
<!-- content start -->
<!--Central-->
<div id="Central" class="f_r">
  <h2 id="ArchiveTitle"><%=cat%></h2>
  <% posts.forEach(function(post,index){%>
  <div class="m_post mb20">
      <div class="m_post_top">
          <h2 class="m_post_top_title">
            <a href="/post/<%= post.post_id %>" title="<%=post.title%>">
              <%= post.title %>
            </a>
          </h2>
        <div class="m_post_top_text">
            <%= post.content.substring(0,250) %>
        </div>
      </div>
      <div class="post_mata">   
        <span class="post_cate">
          <a href="/category/<%= post.category %>" title="查看 <%= post.category %>" 中的全部文章" rel="category"><%= post.category %></a>
        </span>
        <span class="post_mata_time mata_ico">
          <% 
            var date=new Date(parseInt(post.add_date));
            var year=date.getFullYear();
            var month=date.getMonth();
            var day=date.getDate();
          %>
          <a href="" title="<%=year+'-'+month+'-'+day %>" target="_blank"><%= month+'月'+day %>日</a>
        </span>
        <!--
          <span class="the_like mata_ico">
            <a href="" class="likeThis" id="like-209">0</a>
          </span>
          <span class="the_comments mata_ico">
            <a href="" class="ds-thread-count">0</a>
          </span>
          <span class="the_views mata_ico">0</span>
        -->
           <br class="clearBoth">
    </div>
  </div>
  <% }) %>
  <br class="clearBoth">
  <!-- 分页 -->
  <div id="Pagenavis">
    <span class="pages">第 <%=page %> 页，共 <%=allPage%> 页</span>
    <% if(page>1){ %>
      <a href="/category/<%=cat%>/<%=page-1%>" class="previouspostslink">«</a>
    <%}%>
    <% if(page>1){ 
      if(page>4){
        var i=page-4;
      }else{
        var i=1;
      }
      for(i;i<page;i++){
    %>
      <a href="/category/<%=cat%>/<%=i %>" class="page larger"><%=i %></a>
    <%}}%>
    <span class="current"><%=page %></span>

    <%
      if(allPage-page>4){ 
        var row=page+4;
      }else{
        var row=allPage;
      }
      for(var i=page+1;i<=row;i++){
    %>
      <a href="/category/<%=cat%>/<%=i%>" class="page larger"><%=i%></a>
     <%}%>
     
    <%if(allPage-page>3){%>
      <span class="extend">...</span>
    <%}%>
    
    <% if(allPage>page){%>
      <a href="/category/<%=cat%>/<%= page+1 %>" class="nextpostslink">»</a>
      <a href="/category/<%=cat%>/<%=allPage%>" class="last">最旧 »</a>
    <%}%>
  </div>
</div>
<!--/Central-->
<!-- content end -->
<% include footer %>